@media (max-width: 1030px) {
  /*Css resposivo nav*/

  .container-logo-nav {
    width: 100%;
    justify-content: space-between;
  }

  .container-login-busca {
    display: none;
  }

  /*Css responsivo main*/
  .container-main {
    flex-wrap: wrap;
  }

  .secao-noticia-primeiro {
    max-width: 100%;
    margin: 1rem 2rem;
    border: none;
  }

  .caixa-primeira-noticia {
    text-align: center;
  }

  .secao-noticia-segunda {
    width: 48%;
    border: none;
  }

  .secao-noticia-terceira {
    width: 48%;
  }
}

@media (max-width: 700px) {
  .container-main {
    margin: 0;
  }

  .secao-noticia-segunda {
    width: 100%;
  }

  .secao-noticia-terceira {
    width: 100%;
  }

  .caixa-imagem-texto-segunda {
    width: 100%;
  }

  .caixa-segunda-secao {
    padding: 0;
    align-items: flex-start;
    margin: 0 1rem;
  }

  .secao-noticia-terceira {
    width: 100%;
    align-items: flex-start;
    margin: 0 1rem;
  }
}

@media (max-width: 560px) {
  .caixa-segunda-noticia {
    flex-direction: column;
  }

  .caixa-terceira-noticia {
    flex-direction: column;
  }
}
